.bblv250-dialog {
  .dialog-header-img {
    top: -88px;
    right: 0px;
  }

  .eye-img {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: unset !important;
  }

  .close-img {
    pointer-events: unset !important;
    position: absolute;
    left: 16px;
    transition: 0.3s;
    transform-origin: 50% 0px; 

    &:active {
      transform: rotate(10deg);
    }
  }

  .conform-btn {
    position: absolute;
    right: 16px;
  }

  .forget-pwd {
    color: rgb(0, 123, 255);
  }
}