.bblv240-dialog {
  .dialog-header-img {
    top: -88px;
    left: -39px;
  }

  .modal-body {
    padding-bottom: 24px !important;
  }

  .eye-img {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: unset !important;
  }
}