.bblv240-dialog {
  .dialog-header-img {
    top: -100px;
    left: -26px;
    transform: rotate(8deg);
    transform-origin: left top;
  }

  .eye-img {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: unset !important;
  }
}