<div class="bblv140-main w-100 h-100 d-flex flex-column gap-2">
  <div class="d-flex flex-column flex-1 gap-4 w-100 h-100 p-3 pt-2 v-scroll">
    <div class="d-flex flex-column gap-3">
      <span class="fw-bold">经办人</span>
      <div class="d-flex gap-5 px-3">
        <label class="radio-label" onclick="CommonUtils.clickRadio('expensePch', 'expensePch_01', event)">
          <input type="radio" id="expensePch_01" name="expensePch" class="radio-btn" value="01">
          <span class="radio-custom"></span>妈妈
        </label>
        <label class="radio-label" onclick="CommonUtils.clickRadio('expensePch', 'expensePch_02', event)">
          <input type="radio" id="expensePch_02" name="expensePch" class="radio-btn" value="02">
          <span class="radio-custom"></span>爸爸
        </label>
      </div>
    </div>
    <div class="d-flex flex-column gap-3">
      <span class="fw-bold">支出类型</span>
      <div class="px-3 d-flex flex-column gap-4">
        <label class="radio-label" onclick="CommonUtils.clickRadio('expenseType', 'expenseType_01', event)">
          <input type="radio" id="expenseType_01" name="expenseType" class="radio-btn" value="01">
          <span class="radio-custom"></span>正常消费
        </label>
        <label class="radio-label" onclick="CommonUtils.clickRadio('expenseType', 'expenseType_02', event)">
          <input type="radio" id="expenseType_02" name="expenseType" class="radio-btn" value="02">
          <span class="radio-custom"></span>提现
        </label>
        <label class="radio-label" onclick="CommonUtils.clickRadio('expenseType', 'expenseType_03', event)">
          <input type="radio" id="expenseType_03" name="expenseType" class="radio-btn" value="03">
          <span class="radio-custom"></span>罚扣
        </label>
      </div>
    </div>
    <div class="d-flex flex-column gap-3">
      <div class="d-flex">
        <span class="fw-bold">支出数量</span>
        <span class="text-danger" id="effective_count"></span>
      </div>
      <div class="w-100 px-3">
        <input autocomplete="off" type="number" id="expenseCount" class="w-100" min="1" step="1"
          onkeydown="return event.keyCode !== 69 && event.keyCode !== 190 && event.keyCode !== 189">
      </div>
    </div>
    <div class="d-flex flex-column gap-3">
      <span class="fw-bold">说明</span>
      <div class="w-100 px-3">
        <textarea type="text" id="expenseTipDetail" class="w-100" placeholder="详细说明（30文字以内，非必须输入）"></textarea>
      </div>
    </div>
  </div>

  <div class="sub-footer w-100 d-flex align-items-center justify-content-center" onclick="bblv030.clickExpenseButton()">
    <img width="30" class="me-3" src="assets/images/支出.png">
    确认支出
  </div>
</div>