button {
  outline: none;
  padding: 0px;
  font-size: 16px;
  font-family: "M PLUS Rounded 1c", "Nunito", "Quicksand", sans-serif;
  color: #001443;
  user-select: none;
}

img {
  pointer-events: none;
  user-select: none;
}

.v-scroll {
  overflow-y: auto !important;
}

.font-14 {
  font-size: 14px;
}

.font-bold-14 {
  font-size: 14px;
  font-weight: bold;
}

.font-16 {
  font-size: 16px;
}

.font-bold-16 {
  font-size: 16px;
  font-weight: bold;
}

.font-18 {
  font-size: 18px;
}

.font-bold-18 {
  font-size: 18px;
  font-weight: bold;
}

.font-20 {
  font-size: 20px;
}

.font-bold-20 {
  font-size: 20px;
  font-weight: bold;
}

.font-22 {
  font-size: 22px;
}

.font-bold-22 {
  font-size: 22px;
  font-weight: bold;
}

.font-24 {
  font-size: 24px;
}

.font-bold-24 {
  font-size: 24px;
  font-weight: bold;
}

.flex-1 {
  flex: 1;
  min-width: 0px;
  min-height: 0px;
}

.error-text {
  color: rgb(249, 43, 84) !important;
}

.color-gary {
  color: #00103694;
}

.pink-bg {
  background: linear-gradient(#ffd5d3, #febad9);
}

.wathet-bg {
  background: linear-gradient(#dbeefc, #9bc6f5);
}

.gray-line {
  background: #bababa;
}

.large-card {
  padding: 24px 16px;
  border-radius: 20px;
  box-shadow: 0px -1px 1px #f2f8fe, 1px 1px 2px rgba(163, 177, 198, 0.5);
  border-right: 1px solid #b8d5ff;
  border-bottom: 1px solid #b8d5ff;
}

.gary-card {
  background: #f7f7f8;
  border-radius: 20px;
  box-shadow: -2px -2px 0px rgba(255, 255, 255, 1), 4px 4px 4px #aeaeae70;
  border-right: 1px solid #c0c0c038;
  border-bottom: 1px solid #c0c0c038;
}

.white-card {
  width: 100%;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.inset-card {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  box-shadow: inset 3px 3px 4px 0 rgba(0, 0, 0, 0.2), inset -3px -3px 4px 0 rgba(0, 0, 0, 0.2);
  background: #F4F6F6;
  padding: 16px;
  overflow-y: auto;
}

.sub-footer {
  height: 54px;
  border-radius: 27px !important;
  background: linear-gradient(#ffe2e1, #febad9);
  border: 1px solid #ffd6d6;
  font-weight: bold;

  &:active {
    background: #F4F6F6;
    box-shadow: 2px 2px 1px rgb(169 169 169 / 30%);
    border-right: 1px solid #c0c0c038;
  }
}

/************ 自定义单选框容器（气泡+立体感） **************/
.radio-btn {
  display: none;
}

.radio-custom {
  pointer-events: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border: 2px solid #5e79bd;
  border-radius: 50%;
  background-color: #ffffff;
  margin-right: 8px;
  position: relative;
}

.radio-btn:checked+.radio-custom {
  &::after {
    content: "";
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background-color: #5e79bd;
    position: absolute;
  }
}

.radio-label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  width: max-content;
}

/***************** 输入框美化 ***************/
input[type="text"],
input[type="number"],
input[type="password"],
input[type="date"] {
  padding: 8px 12px;
  border: 1px solid #5e79bd;
  border-radius: 6px !important;
  outline: none;
  background-color: white;

  &:focus {
    border: 1px solid #febad9;
    outline: 2px solid #febad9;
  }
}

textarea {
  resize: none !important;
  padding: 8px 12px;
  border: 1px solid #5e79bd;
  border-radius: 6px;
  background-color: white;

  &:focus {
    border: 1px solid #febad9;
    outline: 2px solid #febad9;
  }
}

.modal {
  overflow: hidden;

  .modal-dialog {
    justify-content: center;

    .modal-content {
      background: #6cb2ff;
      border: none;
      width: 96%;
      border-top: 3px solid rgb(139 189 255);
      border-left: 3px solid rgb(139 189 255);
      box-shadow: 8px 8px 16px #759cbacc;

      .dialog {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;

        .dialog-header-img {
          position: absolute;
        }

        .modal-header {
          border: none;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 44px;
          font-weight: bold;
        }

        .modal-body {
          width: calc(100% + 3px);
          max-height: calc(95dvh - 44px);
          background: #f7f7f8;
          border-radius: 8px;
          box-shadow: 4px 4px 4px #aeaeae70;
          border-top: 3px solid white;
          border-right: 3px solid #c0c0c038;
          border-bottom: 3px solid #c0c0c038;
          border-left: 3px solid white;
          margin-left: -3px;
          padding: 0px;
          display: flex;
          flex-direction: column;

          .content {
            width: 100%;
            flex: 1;
            min-height: 0px;
            overflow-y: auto;
            padding: 16px;
          }

          .footer {
            width: 100%;
            border: none;
            padding: 16px 24px;
            display: flex;
            justify-content: center;

            .btn-div {
              width: calc(50% - 12px);
              height: 44px;
              background: linear-gradient(165deg, #d1e4f0, #3176c2);
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 22px;
              box-shadow: 4px 4px 4px #aeaeae70;

              button {
                border: none;
                width: calc(100% - 8px);
                height: 38px;
                background: linear-gradient(165deg, #95c9f8, #61a2e9);
                color: white;
                font-weight: bold;
                border-radius: 19px;

                &:active {
                  width: 100%;
                  height: 100%;
                  border-radius: 22px;
                  background: linear-gradient(#ffe2e1, #febad9);
                }
              }
            }
          }
        }
      }
    }
  }
}

.modal-backdrop {
  background: rgba(0, 0, 0, 0.2);
}

/* 太空漂浮动画：让图标更灵动 */
@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-12px);
  }

  100% {
    transform: translateY(0px);
  }
}