button {
  outline: none;
  padding: 0px;
  font-size: 16px;
  font-family: "PingFang SC", "Microsoft YaHei UI", -apple-system, BlinkMacSystemFont, sans-serif;
  color: #1d1501;
  font-weight: bold;
}

img {
  pointer-events: none;
}

.v-scroll {
  overflow-y: auto;
}

.gap-4 {
  gap: 4px;
}

.gap-8 {
  gap: 8px;
}

.gap-12 {
  gap: 12px;
}

.gap-16 {
  gap: 16px;
}

.gap-24 {
  gap: 24px;
}

.gap-32 {
  gap: 32px;
}

.gap-48 {
  gap: 48px;
}

.font-14 {
  font-size: 14px;
}

.font-bold-14 {
  font-size: 14px;
  font-weight: bold;
}

.font-16 {
  font-size: 16px;
}

.font-bold-16 {
  font-size: 16px;
  font-weight: bold;
}

.font-18 {
  font-size: 18px;
}

.font-bold-18 {
  font-size: 18px;
  font-weight: bold;
}

.font-20 {
  font-size: 20px;
}

.font-bold-20 {
  font-size: 20px;
  font-weight: bold;
}

.font-22 {
  font-size: 22px;
}

.font-bold-22 {
  font-size: 22px;
  font-weight: bold;
}

.font-24 {
  font-size: 24px;
}

.font-bold-24 {
  font-size: 24px;
  font-weight: bold;
}

.flex-1 {
  flex: 1;
}

.error-text {
  color: rgb(249, 43, 84);
}

/************ 自定义单选框容器（气泡+立体感） **************/
.radio-btn {
  display: none;
}

.radio-custom {
  pointer-events: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border: 3px solid #ff9933;
  border-radius: 50%;
  background-color: #ffffff;
  margin-right: 8px;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2),
    0 2px 3px rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease;
}

.radio-btn:checked+.radio-custom {
  box-shadow: 0 5px 5px rgb(200 120 0 / 30%), inset 0 3px 6px rgba(255, 255, 255, 0.8)
}

.radio-btn:checked+.radio-custom::after {
  content: "";
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background-color: #e86c00;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.radio-label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  width: max-content;
}

/***************** 输入框美化 ***************/
input {
  padding: 8px 12px;
  border: 2px solid #ff9933;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 5px 5px rgb(200 120 0 / 30%), inset 0 3px 6px rgba(255, 255, 255, 0.8);
  transition: all 0.1s ease; /* 点击反馈动画 */

  &:focus {
    outline: none;
    box-shadow: 
      0 2px 0 #CC7722,
      inset 0 2px 5px rgba(255, 180, 120, 0.6),
      0 0 0 3px rgba(255, 153, 51, 0.4);
    transform: translateY(2px);
  }

  &:read-only {
    &:focus {
      outline: unset !important;
      box-shadow: 0 5px 5px rgb(200 120 0 / 30%), inset 0 3px 6px rgba(255, 255, 255, 0.8);
      transform: unset !important;
    }
  }
}

textarea {
  resize: none !important;
  padding: 8px 12px;
  border: 2px solid #ff9933;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 5px 5px rgb(200 120 0 / 30%), inset 0 3px 6px rgba(255, 255, 255, 0.8);
  transition: all 0.1s ease; /* 点击反馈动画 */

  &:focus {
    outline: none;
    box-shadow: 
      0 2px 0 #CC7722,
      inset 0 2px 5px rgba(255, 180, 120, 0.6),
      0 0 0 3px rgba(255, 153, 51, 0.4);
    transform: translateY(2px);
  }
}

.dialog {
  display: flex;
  flex-direction: column;
  max-height: 95dvh;
  min-height: 205px;
  
  .header {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    padding-left: 24px;
    background-color: #ff9933;
    color: white;
    font-size: 18px;
  }

  .content {
    width: 100%;
    padding: 16px;
    flex: 1;
    min-height: 0px;
    overflow-y: auto;
    background-color: white;
  }

  .footer {
    width: 100%;
    height: 60px;
    background-color:#ff9933;
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      height: 40px;
      font-size: 18px;
    }
  }
}
