<div class="dialog bblv150-dialog">
  <img class="dialog-header-img" width="100" src="assets/images/tom_and_jerry_04.png">
  <div id="bblv150_title" class="modal-header"></div>
  <div class="modal-body">
    <div class="content">
      <div class="w-100 inset-card insert-padding">
        <div id="bblv150_fixed_data" class="fixed-data w-100 v-scroll"></div>
      </div>
    </div>
    <div class="footer">
      <div class="btn-div">
        <button id="bblv150_footer_btn" type="button" onclick="bblv150.close()"></button>
      </div>
    </div>
  </div>
</div>