.bblv010-main {
  .medal-title {
    width: max-content;
    background: linear-gradient(#f0f4f7 70%, #bdd3ff 30%)
  }

  .fixed-link {
    color: #0080ff;
    border-bottom: 1px solid #0080ff;
  }

  .card {
    &.card-btm {
      flex: 1;
      min-height: 0px;
      overflow: hidden;
    }
  }

  .line-group {
    height: 45%;

    .btn-group{
      width: 45%;
      font-weight: bold;
      user-select: none;

      &:active {
        box-shadow: none;
        scale: 0.8;
        transition: all 0.1s;
      }
    }
  }
}

#bblv010_sub_page {
  .filter-div {
    width: 30px;
  }
  .back-img,
  .filter-img {
    pointer-events: unset !important;
  }
  
  #bblv140,
  #bblv030,
  #bblv160,
  #bblv100 {
    flex: 1;
    min-height: 0px;
    overflow: hidden;
    width: 100%;
  }
}