.bblv010-main {
  .bubble {
    font-size: 22px;
    border-radius: 20px;
    font-weight: bold;
    user-select: none;
    transition: all 0.2s ease;
    height: 100px;
    background: linear-gradient(145deg, #ffecb3, #ffad32);
    box-shadow: 0 10px 10px rgb(200 120 0 / 30%), inset 0 3px 6px rgba(255, 255, 255, 0.8);
    position: relative;
  }

  /* ✨ 气泡高光 */
  .bubble::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 10%;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    filter: blur(6px);
  }

  /* 👆 点击按压效果 */
  .bubble:active {
    box-shadow: 0 10px 10px rgb(200 120 0 / 30%), inset 0 3px 6px rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 4px rgb(200 120 0 / 30%), inset 0 6px 10px rgba(255, 255, 255, 0.8);
    transition: all 0.1s;
  }

  /* 🔄 上面按钮：左上角为中心逆时针 15° */
  .top-btn {
    margin-top: 60px;
    transform: rotate(-3deg);
    transform-origin: left top;

    &:active {
      transform: translateY(12px) scale(0.98);
    }

    .top-img {
      height: 100%;
    }
  }

  /* 🔄 下面按钮：左下角为中心顺时针 15° */
  .bottom-btn {
    transform: rotate(5deg);
    transform-origin: left bottom;

    &:active {
      transform: translateY(50px) scale(0.98);
    }

    .bottom-img {
      height: 100%;
    }
  }

  .image {
    bottom: 50px;

    &.bottom-left-img {
      left: 20px;
      width: 45%;
    }

    &.bottom-right-img {
      right: 20px;
      width: 30%;
    }
  }
}

#bblv010_sub_page {
  .back-div {
    margin-top: -5px;

    .back-img {
      pointer-events: unset !important;
    }
  }
  
  #bblv070,
  #bblv110 {
    flex: 1;
    min-height: 0px;
    overflow: hidden;
  }
}