<div
  class="bblv010-main w-100 h-100 d-flex align-items-center flex-column gap-24 px-5">
  <div
    class="bubble top-btn w-100 d-flex align-items-center p-3 gap-24"
    onclick="bblv010.clickMedalSearchOrBackBtn()">
    <img class="top-img" src="../../../assets/images/medal.png" />
    <span>勋章查询/回退</span>
  </div>
  <div
    class="bubble bottom-btn w-100 d-flex align-items-center p-3 gap-24"
    click>
    <img class="bottom-img" src="../../../assets/images/search.png" />
    <span>账单查询</span>
  </div>
  <img class="image bottom-left-img position-absolute" src="../../../assets/images/bbl010/v010_left.png">
  <img class="image bottom-right-img position-absolute" src="../../../assets/images/bbl010/v010_right.png">
</div>
