<div id="bblv010_main" class="bblv010-main w-100 h-100 d-flex align-items-center flex-column gap-24 px-5">
  <div class="bubble top-btn w-100 d-flex align-items-center p-3 gap-24" onclick="bblv010.clickMedalSearchBtn()">
    <img class="top-img" src="assets/images/medal.png" />
    <span>勋章查询</span>
  </div>
  <div class="bubble bottom-btn w-100 d-flex align-items-center p-3 gap-24" onclick="bblv010.clickBillSearchBtn()">
    <img class="bottom-img" src="assets/images/search.png" />
    <span>账单查询/取消</span>
  </div>
  <img class="image bottom-left-img position-absolute" src="assets/images/v010_left.png">
  <img class="image bottom-right-img position-absolute" src="assets/images/v010_right.png">
</div>
<div id="bblv010_sub_page" class="w-100 h-100 d-flex flex-column">
  <div class="px-3 d-flex justify-content-center back-div">
    <img width="40" class="back-img" src="assets/images/返回.png" onclick="bblv010.clickBackBtn()">
  </div>
  <div id="bblv070" class="w-100"></div>
  <div id="bblv110" class="w-100"></div>
</div>