<div id="bblv020_main" class="bblv020-main w-100 h-100 d-flex align-items-center flex-column gap-24 px-5">
  <div class="bubble top-btn w-100 d-flex align-items-center p-3 gap-24" onclick="bblv020.clickMedalSaveBtn()">
    <img class="top-img" src="assets/images/medal.png" />
    <span>勋章存储</span>
  </div>
  <div class="bubble bottom-btn w-100 d-flex align-items-center p-3 gap-24"
    onclick="bblv020.clickLotteryBtn()">
    <img class="bottom-img" src="assets/images/search.png" />
    <span>抽奖</span>
  </div>
  <img class="image bottom-left-img position-absolute" src="assets/images/v010_left.png">
  <img class="image bottom-right-img position-absolute" src="assets/images/v010_right.png">
</div>
<div id="bblv020_sub_page" class="w-100 h-100 d-flex flex-column">
  <div class="ps-3">
    <img width="30" class="back-img mb-3" src="assets/images/v010_left.png" onclick="bblv020.clickBackBtn()">
  </div>
  <div id="bblv140" class="w-100"></div>
  <div id="bblv160" class="w-100"></div>
</div>
