<div id="bblv020_main" class="bblv020-main w-100 h-100 d-flex align-items-center flex-column gap-48 px-5">
  <div class="bubble top-btn w-100 d-flex align-items-center p-3 gap-24" onclick="bblv020.clickMedalSaveBtn()">
    <img class="top-img" src="assets/images/勋章存储.png" />
    <span>勋章存储</span>
  </div>
  <div class="bubble bottom-btn w-100 d-flex align-items-center p-3 gap-24" onclick="bblv020.clickLotteryBtn()">
    <img class="bottom-img" src="assets/images/抽奖.png" />
    <span>抽奖</span>
  </div>
  <img class="image bottom-left-img position-absolute" src="assets/images/航天飞机.png">
  <img class="image bottom-right-img position-absolute" src="assets/images/宇航员.png">
</div>
<div id="bblv020_sub_page" class="w-100 h-100 d-flex flex-column">
  <div class="px-3 d-flex justify-content-center back-div">
    <img width="40" class="back-img" src="assets/images/返回.png" onclick="bblv020.clickBackBtn()">
  </div>
  <div id="bblv140" class="w-100"></div>
  <div id="bblv160" class="w-100"></div>
</div>